<%= form_for [@question.art, @question], url: art_question_path do |f| %>
  <div>
    <%= f.label :text, "Question" %>
  </div>
  <div>
    <%= f.text_area :text, class:"form-control" %>
  </div>
  <div>
    <%= f.label :answer %>
  </div>
  <div>
    <%= f.text_area :answer, class:"form-control"%>
  </div>
  <div class="submit_button">
    <%= f.submit "Save question", class: "btn btn-default" %>
  </div>
<% end %>
