<h2>List of Questions</h2>

<% @questions.each do |question| %>
  <hr />
  <div class="row">
      <div class="col-md-2">
        <h4><%= image_tag question.art.image %>
      </div>
      <div class="col-md-9">
        <h3><%= question.text %></h3>
        <h5><%= question.answer %></h5>
      </div>
      <div class="col-md-1">
        <%= link_to edit_art_question_path({:art_id => question.art, :id => question.id}), :class => "btn btn-primary" do%>
        <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to art_question_path({:art_id => question.art, :id => question.id}), method: :delete, :class => "btn btn-danger" do%>
        <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </div>
  </div>
<% end %>
<hr />
