<%= form_for @question do |f| %>
    <div>
      <%= f.label :text, "Question" %>
    </div>
    <div>
      <%= f.text_area :text %>
    </div>
    <div>
      <%= f.label :answer %>
    </div>
    <div>
      <%= f.text_area :answer %>
    </div>
    <div>
      <%= f.submit "Save new question" %>
    </div>
  <% end %>
