<h2> New Artist </h2>

<%= form_for @artist do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div>
    <%= f.label :birth %>
    <%= f.text_field :birth, class:"form-control" %>
  </div>
  <div>
    <%= f.label :death %>
    <%= f.text_field :death, class:"form-control" %>
  </div>
  <div>
    <%= f.label :nationality %>
    <%= f.text_field :nationality, class:"form-control" %>
  </div>
  <div>
    <%= f.submit "Add Artist" %>
  </div>
<% end %>
