<h2>Edit Artwork</h2>
<%= form_for @art do |f| %>
    <div>

      <%= f.label :image %>
    </div>
    <div>
      <%= f.text_field :image %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.fields_for :artist do |a| %>
      <%= f.label :artist %>
       <div class="artist_attrs">
         <div>
           <%= a.text_field :name %>
         </div>
         <div>
           <%= a.text_field :birth %>
         </div>
         <div>
           <%= a.text_field :death %>
         </div>
       </div>
      <% end %>
    </div>
    <div>
      <%= f.label :year %>
      <%= f.text_field :year %>
    </div>
    <div>
      <%= f.label :century %>
      <%= f.text_field :century %>
    </div>
    <div>
      <%= f.label :medium %>
      <%= f.text_field :medium %>
    </div>
    <div>
      <%= f.submit "Save Art" %>
    </div>
  <% end %>
