
<h2 class="arts-index-header">List Of Artworks</h2>

<div class="list-group">
  <hr />
  <% @arts.each do |art| %>
    <div class="row">
      <div class="col-sm-4 col-md-5">
        <%= image_tag art.image, :class => "img-responsive" %>
      </div>
      <div class="col-sm-8 col-md-7">
        <%= link_to art_path(art) do %>
          <h3 class="list-group-item-heading"> <%= art.title %> </h3>
        <% end %>
        <p class="list-group-item-text">
          <strong>Artist:</strong> <%= art.artist.name %><br />
          <strong>Nationality:</strong> <%= art.artist.nationality %><br />
          <strong>Year:</strong> <%= art.year %><br />
          <strong>Era:</strong> <%= art.century %> century<br />
          <strong>Medium:</strong> <%= art.medium %><br />
        </p>
      </div>
    </div>
    <hr />
  <% end %>
</div>
