
<h1 class="arts-index-header">List Of Artworks</h1>
<div class="container main">
  <div class="row inline">

      <% @arts.each do |art| %>
        <div>
         <%= link_to image_tag(art.image, :class => "art-image-show"), art_path(art) %>
        </div>
        <div>
         <strong>Title:</strong> &ldquo;<%= art.title %>&rdquo;
        </div>
        <div>
         <strong>Artist:</strong> <%= art.artist.name %>
        </div>
        <div>
         <strong>Nationality:</strong> <%= art.artist.nationality %>
        </div>
        <div>
         <strong>Year:</strong> <%= art.year %><br>
        </div>
        <div>
         <strong>Era:</strong> <%= art.century %> century<br>
        </div>
        <div>
         <strong>Medium:</strong> <%= art.medium %><br>
        </div>
      <br>
      <% end %>
      <br>
  </div>
</div>
