
<h1 class="arts-index-header">LIST OF ARTWORKS</h1>
<div class="container main">
  <div class="row inline">

      <% @arts.each do |art| %>
        <%= art.image %>
        <%= art.title %>
        <%= art.artist %>
        <%= art.year %>
        <%= art.century %>
        <%= art.medium %>
      <br>
      <% end %>
      <br>
  </div>
</div>
