<h2>Add New Artwork</h2>
<%= form_for @art do |f| %>
    <div>
      <%= f.label :image %>
      <%= f.text_field :image %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <%= f.fields_for :artist do |a| %>
       <div class="artist_attrs">
         <div>
           <%= a.label :name %>
           <%= a.text_field :name %>
         </div>
         <div>
           <%= a.label :birth %>
           <%= a.text_field :birth %>
         </div>
         <div>
           <%= a.label :death %>
           <%= a.text_field :death %>
         </div>
         <div>
           <%= a.label :nationality %>
           <%= a.text_field :nationality %>
         </div>
       </div>
    <% end %>
    <div>
      <%= f.label :year %>
      <%= f.text_field :year %>
    </div>
    <div>
      <%= f.label :century %>
      <%= f.text_field :century %>
    </div>
    <div>
      <%= f.label :medium %>
      <%= f.text_field :medium %>
    </div>
    <div>
      <%= f.submit "Save Art" %>
    </div>
  <% end %>
