<h2>Art Up Close</h2>

<div>

  <%= image_tag @art.image, :class => "art-image-show" %><br>
  <strong>Name: </strong> <%= @art.title %><br>
  <strong>Artist: </strong> <%= @art.artist %><br>
  <strong>Year: </strong> <%= @art.year %><br>
  <strong>Century: </strong> <%= @art.century %><br>
  <strong>Medium: </strong> <%= @art.medium %><br>


<!--- <%=button_to "Delete", @art, method: :delete %> -->
