<div class ="container">
<div class="row">
  <h2>Art Up Close</h2>
</div>

<div class="row">
  <div class="col-sm-6">
  <%= image_tag @art.image, :class => "art-image-show" %>
</div>
  <div class="col-sm-6">

    <strong>Name: </strong> <%= @art.title %><br>
    <strong>Artist: </strong> <%= @art.artist.name %><br>
    <strong>Year: </strong> <%= @art.year %><br>
    <strong>Era: </strong> <%= @art.century %> century<br>
    <strong>Medium: </strong> <%= @art.medium %><br>

    <%= link_to "Edit Artwork", edit_art_path, :class => "btn btn-info" %>

    <%= button_to "Delete", @art, method: :delete, :class => "btn btn-danger" %>
  </div>
</div>
<div class ="container">
