<% content_for :og_meta do %>
  <meta property="og:title" content="'<%= @art.title %>' by <%= @art.artist.name %> (<%= @art.artist.birth %>–<%= @art.artist.death %>)">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://slack-artbot.herokuapp.com<%= art_path(@art) %>">
  <meta property="og:image" content="<%= @art.image %>">
<% end %>

<div class ="container-fluid">
  <div class="row-fluid">
    <h3>&ldquo;<%= @art.title %>,&rdquo; by <%= @art.artist.name %> (<%= @art.artist.birth %>–<%= @art.artist.death %>)</h3>
  </div>
  <div class="row-fluid">
    <div class="col-md-10">
      <%= image_tag @art.image %>
    </div>
    <div class="col-md-2">
      The <%= @art.medium %> <strong>&ldquo;<%= @art.title %>&rdquo;</strong> was created in <strong><%= @art.year %></strong> by the <%= @art.artist.nationality %> artist <strong><%= @art.artist.name %></strong>.
      <%= link_to "Edit Artwork", edit_art_path, :class => "btn btn-info" %>
      <%= button_to "Delete", @art, method: :delete, :class => "btn btn-danger" %>
      <%= link_to "Add Question", new_art_question_path(@art, @question), :class => "btn btn-default" %>
    </div>
  </div>
<div class ="container">
