<% content_for :og_meta do %>
  <meta property="og:title" content="'<%= @art.title %>' by <%= @art.artist.name %> (<%= @art.artist.birth %>–<%= @art.artist.death %>)">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://slack-artbot.herokuapp.com<%= art_path(@art) %>">
  <meta property="og:image" content="<%= @art.image %>">
<% end %>

<div class ="container-fluid">
  <div class="row">
    <h3>&ldquo;<%= @art.title %>,&rdquo; by <%= @art.artist.name %> (<%= @art.artist.birth %>–<%= @art.artist.death %>)</h3>
  </div>
  <div class="row show_image">
    <div class="col-md-12">
      <%= image_tag @art.image, class: "show_image" %>
    </div>
  </div>
  <div class="row icons">
    <div class="col-md-2">
      <%= link_to edit_art_path, :class => "btn btn-primary" do%>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= button_to @art, method: :delete, :class => "btn btn-danger" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
      <%= link_to new_art_question_path(@art, @question), :class => "btn btn-default" do%>
        <i class="glyphicon glyphicon-plus"></i>
      <% end %>
    </div>
  </div>
<div class ="container">
