<% content_for :og_meta do %>
  <meta property="og:title" content="'<%= @art.title %>' by <%= @art.artist.name %> (<%= @art.artist.birth %>–<%= @art.artist.death %>)">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://slack-artbot.herokuapp.com<%= art_path(@art) %>">
  <meta property="og:image" content="<%= @art.image %>">
<% end %>

  <div >


    <span>
      <h3>&ldquo;<%= @art.title %>,&rdquo; by <%= @art.artist.name %> (<%= @art.artist.birth %>–<%= @art.artist.death %>)</h3>
    </span>

    <div class="icon_group">
      <%= link_to edit_art_path, :class => "btn btn-default" do%>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      <%= link_to @art, method: :delete, :class => "btn btn-default" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
      <%= link_to new_art_question_path(@art, @question), :class => "btn btn-default" do%>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-question-sign"></span>

      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= image_tag @art.image %>
    </div>
  </div>
