<% content_for :og_meta do %>
  <meta property="og:title" content="'<%= @art.title %>' by <%= @art.artist.name %> (<%= @art.artist.birth %>–<%= @art.artist.death %>)">
  <meta property="og:type" content="image/jpeg">
  <meta property="og:url" content="https://slack-artbot.herokuapp.com<%= art_path(@art) %>">
  <meta property="og:image" content="<%= @art.image %>">
<% end %>

<div class ="container">
<div class="row">
  <h2>Art Up Close</h2>
</div>

<div class="row">
  <div class="col-sm-6">
  <%= image_tag @art.image, :class => "art-image-show" %>
</div>
  <div class="col-sm-6">

    <strong>Title: </strong> &ldquo;<%= @art.title %>&rdquo;<br>
    <strong>Artist: </strong> <%= @art.artist.name %><br>
    <strong>Nationality: </strong> <%= @art.artist.nationality %><br>
    <strong>Year: </strong> <%= @art.year %><br>
    <strong>Era: </strong> <%= @art.century %> century<br>
    <strong>Medium: </strong> <%= @art.medium %><br>
    <br>
    <%= link_to "Edit Artwork", edit_art_path, :class => "btn btn-info" %>
    <br>
    <br>
    <%= button_to "Delete", @art, method: :delete, :class => "btn btn-danger" %>

    <%= link_to "Add Question", new_art_question_path(@art, @question), :class => "btn btn-default" %>

  </div>
</div>
<div class ="container">
